@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

{margin:0px;padding:0px;}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-size: 24px;
}

main {margin-top:100px;}

#navbar {
height:80px;
width:100%;
position: fixed; left: 0; top: 0;
display:flex;align-items:center;}

#logoImage {width: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 80px;}
 
#brand {display:flex; align-items:center;  margin-left:8px;}

a {text-decoration: none;	}



.menu {    width: 60%;
    height: 80px;
    display: flex;
    position: fixed;
    right: 0;
    justify-content: center;
    margin-right: 60px;
    align-items: center;}

.items {
    margin: 28px;

}


	
button {
    height: 60px;
    width: 200px;
    padding: 10px;
    margin: 20px;
   
    border-radius: 20px;}
	
	

	
    .gameBox {
        display: none;
        margin: 20px;
        width: 500px;
        padding: 40px;
        align-items: center;
       
    }


#gobackhome {position: fixed;
    right: 0;
    top: 70px;
    width: 180px;
    height: 51px;
    color: white;
    background-color: var(--g2);}


#topBoard {
    margin:auto;
/*    width: 900px; */
    height: 100px;
    align-items:center;
    display: flex;
    background-color: var(--g1);
}

#spacer {height: 40px;padding:0px; margin:0px;}

div#vs {
    padding: 8px;
}

#teambox {
    width: 100%;
    height: 75px;
    margin:auto;
    align-items:center; justify-content: flex-end;
    display: inline-flex;
}


#playerbox {width: 75%;
    height: 75px;
    background-color: var(--b1); display: flex;
    justify-content: flex-end;}


#scorenumber {    display: inline-flex;
    width: 75px;
    height: 75px;
  
    align-items: center;
    justify-content: center;
   }

    #First {
        width: 75%;
        background-color: var(--b1);
        display: inline-flex;
        justify-content: flex-end;
        padding: 0 10px;
        align-items: end;
   }
